@using myshop.Entities.ViewModels
@using myshop.Entities.Models
@model ProductVm
@{
    ViewBag.PageTitle = "product Management";
    ViewBag.CardTitle = "Create product";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="product.Id" />
            <input type="hidden" asp-for="product.Image" />
            <div class="form-group">
                <label asp-for="product.Name"></label>
                <input type="text" asp-for="product.Name" class="form-control" />
                <span asp-validation-for="product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Description"></label>
                <textarea dir="rtl" id="textarea" asp-for="product.Description" class="form-control"></textarea>
                <span asp-validation-for="product.Description" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="product.Price"></label>
                <input asp-for="product.Price" class="form-control" />
                <span asp-validation-for="product.Price" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="product.Image"></label>
                <input type="file" name="file" id="imgfile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="product.CategoryId"></label>
                <select asp-for="product.CategoryId" class="form-control" asp-items="Model.CategoryList">
                    <option disabled selected>--Select Category</option>
                </select>
                <span asp-validation-for="product.Description" class="text-danger"></span>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="Index" asp-controller="Product" class="btn btn-warning">Back To Index</a>
            </div>
        </form>
    </div>
    
        <div class="col-md-4">
            <div class="container">
                <img src="~/@Model.product.Image" width="300" height="300" />
            </div>
        </div>
</div>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // tinymce.init({
        //     selector: '#textarea'
        // });
    </script>
}
