
<div class="container row pt-4">
    <div class="col-12 text-center">
    <h3>Thank You</h3><br />
        <br />
        <img src="~/img/3a50b1c8-fca7-40f3-bb7a-bdf304486072.jfif" width="400" height="400"/>
   
    </div>
    <div class="col-12 text-center">
        <br />
    <h2>Your Order Has Been Successfully Placed</h2><br />
    </div>
</div>